<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/materialize/css/materialize.min.css">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="../static/materialize/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>
    <meta charset="UTF-8">
    <title>Area Administrativa</title>
</head>
<body>

    <script type="text/javascript">
		$(document).ready(function(){
			$('.slider').slider({full_width: true});
			$(".button-collapse").sideNav();
		});
	</script>
    <style>
        .logout{
        float: right;
        }
        .titulo{
        font-size: 32px;
        font-weight: bolder;
        }
    </style>

	<!-- Menu de navegação -->
	<nav class="grey darken-1">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo">&nbsp;Bilheteria.com</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li><a href="/cadastrar">Cadastre-se</a></li>
				<li><a href="/logar">Fazer Login</a></li>				
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="/cadastrar">Cadastre-se</a></li>
				<li><a href="/logar">Fazer Login</a></li>				
			</ul>
		</div>
	</nav>

    <div class="container">
        <div class="row">
            <center><span class="titulo">Cadastro de Ingressos</span></center>
            <a href="/logout" class="logout"><button class="btn">Logout</button></a>
            <hr width="80%">
        </div>
        <br><br>
        <div class="row">
            <form action="/cadastraringresso" method="post">
                <div class="col s12">
                    <div class="input-field col s6">
                        <input id="nome" type="text" name="nome">
                        <label for="nome">Nome do Ingresso</label>
                    </div>


                    <div class="input-field col s6">
                        <input id="categoria" type="text" name="categoria">
                        <label for="categoria">Categoia</label>
                    </div>
                </div>

                <div class="col s12">
                    <div class="input-field col s6">
                        <input id="valor" type="text" name="valor">
                        <label for="valor">Valor</label>
                    </div>


                    <div class="input-field col s6">
                        <input id="quantidade" type="number" name="quantidade">
                        <label for="quantidade">Quantidade</label>
                    </div>
                </div>

                <center>
                    <button type="submit" class="btn waves-effect waves-light">
                        Salvar <i class="material-icons right">send</i>
                    </button>
                </center>
            </form>
        </div>


    </div>

    <br><br><br><br>
    <!-- rodapé  -->
	<footer class="page-footer  grey darken-1">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Bilheteria.com LTDA</h5>
					<p class="grey-text text-lighten-4">Av. Coronel Bento de Godoy - nº. 357 - Centro</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Mapa do Site</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Cadastre-se</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Fazer Login</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© Hello World Sistemas - contato@helloworld.com.br

			</div>
		</div>
	</footer>



</body>
</html>