<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Area Administrativa</title>
</head>
<body>

<style>
    .direita{
    float: right;
    margin-right: 10px;
    margin-top: 70px;
    }
</style>

<div class="container">
    <div class="direita">
    <form action='/logout'>
        <input type='hidden' name='logout'>
        <input type='submit' value='Logout' class="btn btn-warning">
    </form>
    </div>


    <br><br><br>
    <h2>Logado com sucesso</h2>
</div>
</body>
</html>