<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/materialize/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="../static/materialize/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>

    <script type="text/javascript">
        $(document).ready(function(){
            $(".button-collapse").sideNav();
        });

    </script>

    <!-- Menu de navegação -->
    <nav class="grey darken-1">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">&nbsp;Bilheteria.com</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/cadastrar">Cadastre-se</a></li>
                <li><a href="/logar">Fazer Login</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/cadastrar">Cadastre-se</a></li>
                <li><a href="/login">Fazer Login</a></li>
                <li><a href="collapsible.html">Javascript</a></li>
                <li><a href="mobile.html">Mobile</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <br><br>
        <div class="row">
            <h2 class="center">
                Faça seu cadastro
            </h2>
            <hr width="100%">
        </div>

        <br><br>


        <div class="row">
            <form action="/cadastrar" method="post">
                <div class="col s12">
                    <div class="input-field col s6">
                        <input id="nome" type="text" name="nome">
                        <label for="nome">Nome Completo</label>
                    </div>


                    <div class="input-field col s6">
                        <input id="email" type="email" name="email" class="validate">
                        <label for="email">E-mail</label>
                    </div>
                </div>

                <div class="col s12">
                    <div class="input-field col s6">
                        <input id="username" type="text" name="username">
                        <label for="username">Usuário</label>
                    </div>


                    <div class="input-field col s6">
                        <input id="senha" type="password" name="senha">
                        <label for="senha">Senha</label>
                    </div>
                </div>

                <center>
                    <button type="submit" class="btn waves-effect waves-light">
                        Salvar <i class="material-icons right">send</i>
                    </button>
                </center>
            </form>
        </div>
    </div>

    <!-- rodapé  -->
    <footer class="page-footer  grey darken-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Bilheteria.com LTDA</h5>
                    <p class="grey-text text-lighten-4">Av. Coronel Bento de Godoy - nº. 357 - Centro</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Mapa do Site</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Cadastre-se</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Fazer Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © Hello World Sistemas - contato@helloworld.com.br

            </div>
        </div>
    </footer>

    </body>
</html>