<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/materialize/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src="../static/materialize/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/materialize/js/materialize.min.js"></script>
    <title>Loja - Bilheteria.com</title>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function(){

            $(".button-collapse").sideNav();
        });

    </script>
    <style>
        .logout{
        float: right;
        margin-top: 15px;
        }
    </style>
    <!-- Menu de navegação -->
<nav class="grey darken-1">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">&nbsp;Bilheteria.com</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/cadastrar">Cadastre-se</a></li>
            <li><a href="/logar">Fazer Login</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/cadastrar">Cadastre-se</a></li>
            <li><a href="/login">Fazer Login</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
        </ul>
    </div>
</nav>

<br><br>
    <div class="row">
        <h2 class="center">
            Escolha seu ingresso
        </h2>

        <a href="/logout" class="logout"><button class="btn">Sair</button></a>
        <hr width="70%">
    </div>

    <div class="row">
        <div class="col s12">



      <table class="striped highlight">
        <thead>
          <tr>
              <th data-field="id">Descriçao do Ingresso</th>
              <th data-field="tipe">Tipo</th>
              <th data-field="name">valor unitario</th>
              <th data-field="price">quantidade</th>
          </tr>
        </thead>

        <tbody>

          {% for i in lista %}


          <tr>
            <td>{{ i.nome }}</td>
            <td>{{ i.tipoIngresso }}</td>
            <td>{{ i.valor }}</td>
            <td>{{ i.quantidade }}</td>
            <td>
                <div class="col s2">
                    <form action="compraringresso" method="post">
                    <input type="number" name="quantidade" width="10px">
                    <input type="hidden" name="nome" value="{{ i.nome }}">
                    <input type="hidden" name="tipo" value="{{ i.tipoIngresso }}">
                    <input type="hidden" name="valor" value="{{ i.valor }}">

                    <button class="btn">Comprar</button>
                    </form>
                </div>
            </td>
          </tr>

          {% endfor %}

        </tbody>

      </table>



        </div>
    </div>

</body>
</html>